body,div,span,p,h1,h2,h3,h4,h5,h6,ul,li,img,form,label,a,table,tr,td,fieldset,input,b,dl,dt,dd
{
	margin: 0;
	padding: 0;
	font-family: Tahoma, ​Helvetica, ​ 'SimSun', ​sans-serif;
	font-size: 12px;
}

h1,h2,h3,h4,h5,h6 {
	font-size: 14px;
}

em,cite,i {
	font-style: normal;
}

img {
	border-style: none;
}

button {
	cursor: pointer;
}

table {
	border-collapse: collapse;
	empty-cells: show;
}

ul li {
	list-style-type: none;
}

a {
	text-decoration: none;
	color: #333333;
}

a:hover {
	text-decoration: underline;
}

.temp {
	margin: 1px;
}

.block {
	margin: 10px 10px 0;
}

.pipe {
	color: #cccccc;
	margin: 0 3px;
}

.title {
	font-size: 14px;
	font-weight: 700;
	height: 32px;
	line-height: 32px;
	overflow: hidden;
	padding: 0 10px;
}

.titletext {
	font-size: 14px;
}

body {
	background: url(img/background.png) repeat-x scroll 0 0 #FFFFFF;
}

#forum {
	margin: 0 auto;
	width: 960px;
}

#backtotop {
	position: absolute;
	width: 20px;
	display: none;
	height: 59px;
	top: 0;
	right: 172px;
	margin-top:50px;
}

#toptb {
	line-height: 24px;
	height: 24px;
}

.z {
	float: left;
}

#toptb a {
	padding: 0 2px;
	color: #333333;
}

.y {
	float: right;
}

#toptb a:hover {
	text-decoration: underline;
}

.y a img {
	vertical-align: middle;
	cursor: pointer;
}

.vm {
	vertical-align: middle;
}

.xw1 {
	font-weight: 700;
}

.xs2 {
	font-size: 14px !important;
}

.xi2,.xi2 a {
	color: #336699;
}

.xg1,.xg1 a {
	color: #999999 !important;
}

.hm {
	text-align: center;
}

.xg1,.xg1 a {
	color: #999999 !important;
}

.xl1 li {
	height: 1.5em;
	overflow: hidden;
}

.xl li {
	margin: 2px 0;
}

.xl em {
	float: right;
	padding-left: 5px;
	color: #999999;
}

.pn {
	background: url(img/pn.png) repeat-x scroll 0 0 #E5E5E5;
	border: 1px solid #999999;
	box-shadow: 0 1px 0 #E5E5E5;
	cursor: pointer;
	height: 23px;
	margin-right: 3px;
	overflow: hidden;
	padding: 0;
	vertical-align: middle;
}

.pnc,a.pnc {
	background-color: #0066CC;
	background-position: 0 -48px;
	border-color: #235994;
	color: #FFFFFF !important;
}

#hd {
	border-bottom: 0 solid #C2D5E3;
}

#hd .wp {
	padding: 10px 0 0;
}

#hd .wp .c1:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
}

#hd .wp .hdc {
	min-height: 70px;
}

#hd .wp .hdc h2 {
	padding: 0 20px 2px 0;
	float: left;
}

#hd .wp #lsform .fastlg {
	padding-top: 10px;
}

#hd .wp #lsform .pns {
	margin-top: -2px;
}

#hd .wp #lsform .pns table {
	border-collapse: collapse;
	empty-cells: show;
}

#hd .wp #lsform .pns table td {
	padding: 2px 0 2px 4px;
}

#hd .wp #lsform .pns table .ftid {
	float: left;
	margin-right: 6px;
}

#hd .wp #lsform .pns table .tid select {
	width: 94px;
	height: 23px;
	padding: 2px 2px 2px 1px;
}

#hd .wp #lsform .pns .px {
	height: 17px;
	line-height: 17px;
	padding: 2px 4px;
	size: 23px;
}

#hd .wp #lsform .pns fastlg_l {
	border-right: 1px solid #E5EDF2;
	padding-right: 4px !important;
}

#hd .wp #lsform .pns label {
	cursor: pointer;
}

#hd .wp #lsform .pns .pc {
	margin: 0 5px 1px 0;
	padding: 0;
	vertical-align: middle;
}

#hd .wp #lsform .pns .psw_w {
	padding-left: 5px;
}

#hd .wp #lsform .pns .pn {
	background: url(img/pn.png);
	border: 1px solid #999999;
	box-shadow: 0 1px 0 #E5E5E5;
	cursor: pointer;
	height: 23px;
	margin-right: 3px;
	overflow: hidden;
	padding: 0;
	vertical-align: middle;
}

#hd .wp #lsform .fastlg_fm {
	border-right: 1px solid #cdcdcd;
	height: 50px;
}

#hd .wp #nav {
	clear: both;
	background: url(img/nav.png);
	height: 33px;
	overflow: hidden;
	padding-left: 3px;
}

#hd .wp #nav #qmenu {
	background: url(img/qmenu.png) no-repeat scroll 0 0 transparent;
	color: #336699;
	display: inline;
	float: right;
	font-weight: 700;
	height: 26px;
	line-height: 26px;
	margin: 3px 4px 0;
	overflow: hidden;
	padding: 0 12px 0 0;
	text-align: center;
	text-shadow: 0 1px 0 #FFFFFF;
	width: 83px;
}

#hd .wp #nav li {
	background: url(img/nv_a.png) no-repeat scroll 100% 0 transparent;
	float: left;
	font-size: 14px;
	font-weight: 700;
	height: 33px;
	line-height: 33px;
	padding-right: 1px;
}

#hd .wp #nav li.a {
	background: url(img/nv_a.png) no-repeat scroll 50% -33px #005AB4;
	margin-left: -1px;
}

#hd .wp #nav li a {
	font-size: 14px;
	color: #ffffff;
	float: left;
	height: 33px;
	padding: 0 15px;
}

/*************广告条******************/
#hd .wp .a_mu {
	background: none repeat scroll 0 0 #f2f2f2;
	border-color: #cdcdcd;
	border-image: none;
	border-style: solid;
	border-width: 0 1px 1px;
	height: 137px;
}

#hd .wp .a_mu .s-bg-outer {
	background: #cccccc;
	border-radius: 5px 5px 5px 5px;
	padding: 3px;
}

#hd .wp .a_mu .s-bg-outer .s-bg-inner {
	height: 26px;
}

#hd .wp .a_mu .s-bg-inner .s-btn-submit {
	background-position: -6px -58px;
	height: 26px;
	width: 28px;
}

#hd .wp .a_mu .s-bg-inner button {
	background-image: url(img/T1BYbxXj8uXXXA6FE8-120-90.png);
	border: 0 none;
	float: right;
	text-indent: -999em;
}

#hd .wp .a_mu .s-bg-inner .s-btn-clear {
	background-position: -3px -15px;
	height: 26px;
	width: 28px;
}

#hd .wp .a_mu .s-bg-inner .btn-show {
	display: block;
}

#hd .wp .a_mu .s-bg-inner .s-ipt-outer {
	height: 26px;
	margin-top:-1px;
}

#hd .wp .a_mu .s-bg-inner .s-ipt-outer fieldset {
	border: 0 none;
}

#hd .wp .a_mu .s-bg-inner .s-ipt-outer input {
	font-size: 16px;
	line-height: 26px;
	width: 896px;
	height: 26px;
	border: 0 none;
}
#hd .wp .topbanner{
	position:relative;
}
a.logo{
	position:absolute;
	cursor:default;
	display:block;
	width:26px;
	right:0;
	bottom:0;
	height:18px;
}
#hd .wp .topbanner a.logo{
	background: url(img/cpro_media_small.png) no-repeat scroll left top transparent;
}
#hd .wp .topbanner a.logo:hover{
	background: url(img/cpro_media_large.png) no-repeat scroll left top transparent;
	width:78px;
}
#hd .wp #scbar {
	background: url(img/search.png) repeat-x scroll 0 0 transparent;
	border-color: #E5EDF2;
	border-image: none;
	border-style: solid;
	border-width: 0 1px 1px;
	height: 44px;
	line-height: 44px;
	overflow: hidden;
}

#hd .wp .scbar_icon_td {
	background: url(img/search.png) no-repeat scroll 0 -74px
		transparent;
	width: 50px;
}

#hd .wp .scbar_txt_td {
	background: url(img/search.png) repeat-x scroll 0 -222px
		transparent;
}

#hd .wp #scbar_txt {
	width: 260px;
	border: 1px solid #FFFFFF;
	font-size: 14px;
	outline: medium none;
	color: #999999;
}

#hd .wp .scbar_type_td {
	background: url(img/search.png) no-repeat scroll 0 -370px
		transparent;
}

#hd .wp #scbar_type {
	display: block;
	padding-left: 5px;
	text-align: left;
	text-decoration: none;
}

#hd .wp .showmenu {
	background: url(img/arrwd.gif) no-repeat scroll 100% 50%
		transparent;
	cursor: pointer;
	padding-right: 16px;
	white-space: nowrap;
}

#hd .wp .scbar_btn_td {
	background: url(img/search.png) no-repeat scroll 0 -296px
		transparent;
	text-align: center;
	width: 67px;
}

#hd .wp #scbar_btn {
	background: none repeat scroll 0 0 transparent;
	border: medium none;
	margin: 0;
	padding: 0;
}

#hd .wp #scbar_btn strong {
	font-weight: 700;
	line-height: 21px;
	padding: 0 10px;
}

#hd .wp #scbar_hot {
	height: 45px;
	overflow: hidden;
	padding-left: 8px;
}

#hd .wp #scbar_hot strong,#scbar_hot a {
	float: left;
	margin-right: 8px;
	white-space: nowrap;
}

#pt {
	background: none repeat scroll 0 0 transparent;
	border: medium none;
	height: 29px;
	line-height: 29px;
	margin: 2px 0;
}

#pt .z a {
	float: left;
	height: 29px;
}

#pt .nvhm {
	background: url(img/search.png) no-repeat scroll -8px -119px
		transparent;
	line-height: 200px;
	overflow: hidden;
	width: 16px;
}

#pt .z em {
	background: url(img/pt_item.png) no-repeat scroll 3px 10px
		transparent;
	line-height: 200px;
	overflow: hidden;
	width: 20px;
}

#pt .z em {
	float: left;
	height: 29px;
}

#diy1 {
	border: 1px solid #cccccc;
	overflow: auto;
	height: 1%;
	margin-bottom: 10px;
}

#diy1 #left {
	width: 33.3%;
	float: left;
}

#diy1 #center {
	width: 33.3%;
	float: left;
}

#diy1 #center .tab-title {
	background: url(img/title.png) repeat-x scroll 0 100% #F2F2F2;
}

#diy1 #center .tab-title .tb {
	border: medium none;
	line-height: 32px;
	margin-top: 0;
	padding-left: 15px;
}

#diy1 #center .tab-title .tb li {
	background: none repeat scroll 0 0 transparent;
	border-radius: 0 0 0 0;
	border: 1px solid #CDCDCD;
	margin: -1px 0 0 -1px;
	width: 82px;
}

#diy1 #center .tab-title .tb .a a {
	background: none repeat scroll 0 0 #FFFFFF;
	font-weight: 700;
	border-top: medium none;
	display: block;
	padding: 0 10px;
	text-decoration: none;
	font-size: 14px;
}

#diy1 #center .tb-c {
	padding: 10px 16px;
}

#diy1 #center .tb-c li {
	height: 16px;
	overflow: hidden;
	margin: 2px 0;
}

#diy1 #center .tb-c li em {
	float: right;
	padding-left: 5px;
	color: #999999;
}

#diy1 #right {
	width: 33.3%;
	float: left;
}

#diy1 #right li {
	background: url(img/dot.gif) no-repeat 0 5px;
	margin: 2px 0;
	height: 1.5em;
	overflow: hidden;
}

#diy1 #right em {
	float: right;
	padding-right: 5px;
	color: #999999
}

#diy1 #right li a {
	padding-left: 10px;
}

#ct {
	min-height: 300px;
	clear: both;
}

#ct #chart {
	margin-bottom: 5px;
	height: 15px;
}

#ct #chart .chart {
	background: url(img/chart.png) no-repeat scroll 0 50% transparent;
	color: #999999;
	padding-left: 22px;
}

#chart .chart em {
	color: #444444;
}

#ct .mn {
	margin-top: 3px;
	margin-bottom: 10px;
	border: 1px solid #C2D5E3;
	overflow: hidden;
	clear: both;
}

#ct .mn .title {
	background: url(img/titlebg.png) repeat-x scroll 0 0 #E5EDF2;
	border-color: #C2D5E3;
	border-width: 1px 0;
	height: 33px;
}

#ct .mn .title h2 a {
	color: #336699;
	font-size: 1em;
}

#ct .mn .title img {
	cursor: pointer;
	margin-top: 11px;
}

/****************论坛模块***********************/
#ct .mn .bm_c {
	padding: 0 10px;
	border-top: 1px solid #C2D5E3;
	border-bottom: 1px solid #C2D5E3;
}

#ct .mn .bm_c .fl_tb {
	width: 100%;
}

#ct .mn .fl_tb td {
	padding: 10px 0;
	width: 32.9%;
}

#ct .mn .fl_icn_g {
	float: left;
	width: 31px;
}

#ct .mn .wth{
	width:31%;
}

#ct .mn .bm_c dl {
	margin-left: 35px;
	padding-left: 41px;
}

#ct .mn .bm_c dt {
	font-weight: 700;
}

#ct .mn .fl_tb .fl_row td {
	border-top: 1px dashed #CDCDCD;
}

#ct .bm {
	background: none repeat scroll 0 0 #FFFFFF;
	border: 1px solid #CDCDCD;
	margin-bottom: 10px;
	height: 75px;
}

#ct .bm .ptm {
	padding-top: 10px !important;
}

#ct .ptm .mbm {
	margin-bottom: 10px !important;
	padding-left: 10px;
}

#ct .ptm .mbm li {
	float: left;
	height: 14px;
	margin-bottom: 4px;
	width: 94px;
}

/*****************底部广告条******************/
.a_f {
	margin: 5px auto;
	height:88px;
	border:1px solid #D9591E;
}
.a_f .banner_left{
	height:88px;
	float:left;
}
.a_f .banner_right{
	float:right;
	padding:0 2px;
	background: red;
}
/****************版权***********************/
#ft {
	border-top: 1px solid #CDCDCD;
	color: #666666;
	line-height: 1.8;
	padding: 10px 0 50px;
}

#ft #flk {
	text-align: right;
}

#ft #flk .noline {
	text-decoration: none
}
/*********************中间右边那一块********/
.STYLE1 {color: #0033CC}
.STYLE11 {font-size: 14px; color: #FF0000;}
.STYLE12 {font-size: 18px; color: #0000FF;}
.STYLE13 {font-size: 19px; color: #009900;}
.STYLE15 {color: #000000}
.STYLE17 {font-size: 18px; color: #FF6600; }
.STYLE19 {font-size: 17px; color: #0000FF; }
.STYLE22 {font-size: 19px; color: #FF6600; }
.STYLE25 {color: #FF00FF; font-size: 16px; }
.STYLE26 {font-size: large; color: #CC0000;}
.STYLE28 {font-size: 17px; color: #009900; }
.STYLE30 {font-size: 19px; color: #0000FF; }